.sec1{
    margin:20px;
}
.home{
    color:#49b5e7;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    margin-top: 30px;
    padding: 0 10px;
}
.home:hover{
    color:#49b5e7;
    text-decoration: none;

}
.toplink{
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-top: 30px;
    padding: 0 10px;
}
.toplink:hover{
    color:#49b5e7;
    text-decoration: none;
}
.drop-box{
    position: relative;
    display: inline-block;
}
.drop-menu{
    position: absolute;
    width:170px;
    background-color: #fff;
    z-index: 200;
    text-align: left;
    box-shadow: 0px 0px 2px black;
    display:none;
}
.drop-box:hover .drop-menu{
    display: block;
}
.toplink1{
    display:block;
    color: black;
    padding: 10px 15px;
}
.toplink1:hover{
    color: #49b5e7;
    text-decoration: none;
}
.drop-box1{
    position: relative;
    display: inline-block;
}
.drop-menu1{
    position: absolute;
    width: 170px;
    right: 150px;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0px 0px 1px black;
    display: none;
}
.drop-box1:hover .drop-menu1{
    display: block;
    margin-top:-30px;
}

.sec2{
    background-color:rgb(225, 228, 246);
   padding-bottom: 50px;
}
.para1{
    color: #0f394c;
    font-size: 35px;
    font-weight: bold;
    padding:40px 0 35px 0 ;
   
}
.para2{
    color: #1c698c;
    font-size: 20px; 
     margin-bottom: 30px;
}
.getstarted{
    background-color:#49b5e7;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 4px;
    padding: 9px 25px;
    margin-bottom:25px;
    display: inline-block;
  
}
.getstarted:hover{
    color: #fff;
    text-decoration: none;
    background-color:#79bee0;
    transition: 0.5s;
}
.img{
    width: 100%;
    padding-top:42px;
}
.sec3{
    margin: 100px 0;
}
.para3{
    color: #0f394c;
    font-size: 30px;
    font-family: Dosis, sans-serif; 
}
p.para4{
    font-size:16px;
    margin-bottom: 40px;
}
h2.head1{
    font-size: 18px;
    font-weight: bold;
    margin:0px;
}
.head1:hover{
    color: #49b5e7;
    transition:0.3s;
}
.icon2{
    color: #49b5e7;
    border-radius: 50%;
    font-size:27px;
    padding: 12px;
    border: 2px solid #bce8fc;
}

.abcd{
    margin-bottom: 40px;
    /* background-color: blueviolet; */

}
.abcd:hover .icon2{
    background-color: #49b5e7;
    color:#fff;
    transition:0.3s;
}
.para5{
    color: #0f394c;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
}
.para6{
    text-align: center;
    margin-top: -10px;
    font-size: 17px;
    font-family:Arial, Helvetica, sans-serif;
}
.sec4{
    position: relative;
    text-align: center;
    padding: 70px;
    background-image:"https://i.imgur.com/VFThyOJ.jpg";
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}
.opacity{
    position: absolute;
    background-color:#fff;
    height: 100%;
    width: 100%;
    left: 0px;
    top:0px;
    opacity: 0.7;
}

.head2{
    color: #49b5e7;
    font-size: 40px;
    font-weight: bold;
}
.head3{
    font-size: 15px;
    margin-top: -4px;
}
.sec5{
    margin: 130px;
}
.brandimg{
    width: 60%;
    padding: 30px;
    
}
.sec6{
   
    padding: 30px;
}
.head4{
    color:rgb(73, 70, 70);
    font-weight: bold;
    font-size: 25px;
}
.butterfly{
    color: #0f394c;
    font-weight: bold;
}
.boot{
    color: #49b5e7;
    font-weight: bold;
}
.inbox2{
   font-size: 14px;
}
.inbox3{
    font-size: 14px;
    float: right;
    margin-top: -20px;
}
.sec7{
    background-color: aliceblue;
    padding: 30px;
}
.para4{
    color: rgb(114, 114, 114);
    font-size: 15px;
}
.contact{
    color:rgb(92, 92, 92);
    font-weight: bold;
}
.contactinfo{
    color:rgb(114, 114, 114) ;
}

.para7{
    padding-top: 10px ;
    margin-bottom: 20px;
}

.bottomlink{
    display: block;
    padding: 10px;
    margin-left: -15px;
    color:rgb(114, 114, 114);
}
.bottomlink:hover{
    color: #49b5e7;
    text-decoration: none;
    transition: 0.3s;
}
.icon3{
    color: #49b5e7;
}
.icon00{
    background-color: #49b5e7;
    color: #fff;
    font-size: 18px;
    padding: 7px 9px;
    margin:10px 3px;
    border-radius: 4px;
}
.sec8{
    background-color:aliceblue;
    padding: 50px;
    margin: 50px 0px;
}
.head6{
    color: #0f394c;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.para8{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

.form1{
    position: relative;
    background-color: #fff;
    height: 40px;
    width: 50px;
     
}
.input1{
    position: absolute;
    left: 20px;
    top:10px;
    width: 95%;
    border:0px;
}
.inbox5{
     background-color:white;  
    height: 40px;
    width: 40%;
    position: relative;
    border-radius:6px;
    left: 280px;
    
}
button.subscribe{
    background-color:#49b5e7;
    color: #fff;
    font-size: 17px;
    position: absolute;
    left: 95%;
    padding: 8px 15px;
    border: 0px;
    border-radius: 5px;
}
button.subscribe:hover{
    background-color: #2a9ace;
    transition: 0.3s;
}

.sec9{
    background-color:aliceblue;
    margin: 30px 0px;
    padding-bottom: 20px;

}
.head7{
    font-family:sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #0f394c;
}
.para9{
    text-align: center;
    font-size: 16px;
    padding: 20px;

}
.img1{
    width: 100%;
 
}
.names{
    color: #0f394c;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
}
.post{
    color: rgb(170, 169, 169);
    font-size: 13px;
    margin-top: -4px;
}
.teammates{
    background-color: #fff;
}
.align{
    padding-left: 10px;
    padding-bottom: 20px;
}
.brandimg img{
    filter: grayscale(100%);
    width:100px;
    transition: transform 0.5s;
    cursor: pointer;
}
.brandimg img:hover{
    filter: grayscale(0%);
    transform:scale(1.3);
}
.sec10{
    background-color: #e2f7ff;
    padding: 40px;
}
.head8{
    font-size: 16px;
    font-weight: bold;
}
.head8:hover{
    color: #49b5e7;
}
.inbox4{
    background-color: #fff;
    border-radius: 10px;
    padding:18px 16px;
    margin: 15px;
    transition: 0.6s;
    height: 180px;
    width: 100%;
    overflow: hidden;
   
}
.inbox4:hover{
    transition: 0.6s;
    transform: translatey(-10px);
    
}
.inbox4:hover .head8{
    transition: 0.6s;
    color: #49b5e7;
}
.icon01{
    font-size: 60px;
    display: inline-block;
    margin-top: 40px;
    margin-right: 70px;
    position: absolute;
    left: -29px;
}
.seconddiv{
    background-color: #38b3ec; 
    transform:scale(1);
   overflow: hidden;
}
.imgtransition{
    transition:0.3s;
}
 .imgtransition:hover{
    transform: scale(1.1);
}
.sec12{
    padding: 30px 0;
}
.opacity1{
    position: absolute;
    background-color:#0f394c;
    height: 100%;
    width: 100%;
    left: 0px;
    top:0px;
    opacity: 0.9;
}
.inbox6{
    text-align: center;
    
}
.circleimg{
    border-radius: 50%;
    border: 5px solid rgb(0, 63, 134);
}
.testname{
    font-family:'Lucida Sans';
    font-size: 20px;
    color:#fff ;
}
.position{
    color: #fff;
    font-size:15px ;
}
.para11{
    color:#fff;
    font-family:'Times New Roman';
    font-size: 17px;
    padding: 5px 40px;
}
.sec14{
    padding: 60px 0;
}
.head9{
    color:#0f394c;
    font-size: 20px;
    font-weight: bold;
}
.para12{
    color: #2482ad;
}
.icon4{
    font-size: 23px;
    background-color: #d6f3ff;
    padding: 10px 15px;
    border-radius: 50%;
    display: inline-block;
}
.inbox7:hover .icon4{
    background-color: #38b3ec;
    transition: 0.3s;
    color: #fff;
}
.inbox9{
    margin-top: 10px;
}
.typename{
    display: inline;
    width: 40%;
    height: 40px;
    margin-right: 20px;
}
.mail{
    display: inline-block;
    width: 40%;
    height: 40px;
}
.sub{
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 20px;
}
.txtarea{
    width: 100%;
    height: 130px;
    margin-top: 20px;
}
.message{
    position: absolute;
    top:270px;
    right: 46%;
    background-color:#49b5e7;
    color: #fff;
    border: 0px none;
    font-size: 16px;
    padding: 9px 18px;
    margin-top: 10px;
    border-radius: 6px;
}
.message:hover{
    transition: 0.3;
    background-color:#2a9ace;
}
.portimg{ 
    position: relative;
    overflow: hidden;
}
.portin1{
    position: absolute;
    left: 45%;
    top:35%;
    transform: scale(0);
    transition: 0.5s; 
} 
.portimg:hover .portin1{
    transform: scale(1);
    transition: 0.5s;
} 
.portimg:hover .blur{
    transform: scale(1);
    transition: 0.5s;
    opacity: 0.4;
} 
.blur{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    margin-bottom: 50px;
    transform: scale(.4);
    transition: 0.5s;
    opacity: 0;
} 
.portin2{
    position: absolute;
    left: 45%;
    top:35%;
    transform: scale(0);
    transition: 0.5s; 
} 
.portimg:hover .portin2{
    transform: scale(1);
    transition: 0.5s;
} 
.portin3{
    position: absolute;
    left: 45%;
    top:35%;
    transform: scale(0);
    transition: 0.5s; 
} 
.portimg:hover .portin3{
    transform: scale(1);
    transition: 0.5s;
} 
.portin4{
    position: absolute;
    left: 45%;
    top:35%;
    transform: scale(0);
    transition: 0.5s; 
} 
.portimg:hover .portin4{
    transform: scale(1);
    transition: 0.5s;
} 

.portin5{
    position: absolute;
    left: 45%;
    top:35%;
    transform: scale(0);
    transition: 0.5s; 
} 
.portimg:hover .portin5{
    transform: scale(1);
    transition: 0.5s;
} 
.portin6{
    position: absolute;
    left: 45%;
    top:35%;
    transform: scale(0);
    transition: 0.5s; 
} 
.portimg:hover .portin6{
    transform: scale(1);
    transition: 0.5s;
} 

.portin7{
    position: absolute;
    left: 45%;
    top:35%;
    transform: scale(0);
    transition: 0.5s; 
} 
.portimg:hover .portin7{
    transform: scale(1);
    transition: 0.5s;
} 
.portin8{
    position: absolute;
    left: 45%;
    top:35%;
    transform: scale(0);
    transition: 0.5s; 
} 
.portimg:hover .portin8{
    transform: scale(1);
    transition: 0.5s;
} 
