

.mentor{
    color: #5fcf80;
    text-align: left;
    text-transform:uppercase;
    font-family:"Poppins", sans-serif;
    font-weight: bold;
    letter-spacing:1px;
}
.inbox1{
    font-size:15px;
    font-family:sans-serif;
    padding:20px;
    text-align:right;

}
.home{
   color: #5fcf80;
   padding: 0 7px;
}
.toplink{
   padding: 0 7px;
   font-size:15px;
   color: black;
}
.toplink:hover{
   text-decoration: none;
   color: #5fcf80;
} 
.getstarted{
    background-color: #5fcf80;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    padding: 9px 25px;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
}
.getstarted:hover{
   text-decoration: none;
   color:#fff;
   background-color: #3eb461;
   transition: 0.1s;
}
.sec1-bg{
   width: 100%;
   height: 100%;
   background-color: rgb(0, 0, 0,0.2);

}
.sec1{
   background-color: black;
    background-image:url("https://i.imgur.com/T3eAfKU.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;

}


.inbox{
   min-height: 500px;
    color: #fff;
    text-align: left;
    padding:100px 100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.head1{
    font-family:Arial Rounded MT;
    font-size: 50px;
}
.head2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:25px;
    padding-bottom: 30px;
}
.head3{
    text-decoration: none;
    background-color:transparent;
    color:#fff;
    padding:10px 30px;
    border-style:solid;
    border-radius: 35px;
   font-size: medium;
}
.head3:hover{
    background-color:#5fcf80;
    border-color: transparent;
    color: #fff;
    text-decoration: none;
    transition: 1s;
}
h3{
    font-style: italic;
    font-size: medium;
    font-family:'Times New Roman', Times, serif;
}
ol{
    list-style-type:disc;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:17px;
    padding-left:15px;
}
.image{
    width: 100%;
    margin-top: 20px;
    height: auto;
}
.ab{
    color: #5fcf80;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding-top: 30px;
}
.name{
    color:black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large; 
}  
.sec2{
    padding:50px;
}
.sec3{
    background-color:rgb(244, 247, 247);
   text-align: center;
   padding-bottom: 30px;
}
.sec4{
    padding-top: 10px;
    margin:50px;
}
.inbox4{
   background-color:#5fcf80;
   padding: 20px;
   color: #fff;
   text-align: center;
   width:330px;
   height: 400px;
   border-radius: 5px;
   font-size: 15px;
}
.why-choose{
    color: #fff;
    text-align: left;
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px;
}
.para1{
    text-align: left;
    margin-bottom: 30px;
}
.learnmore{
    background-color:rgba(255, 255, 255, 0.2);
    border: solid transparent;
    border-radius: 30px;
    padding: 5px 16px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 30px;
    color: #fff;
    
}
.learnmore:hover{
    background-color:#fff;
    border-color: transparent;
    color:#5fcf80;
    text-decoration: none;
    transition: 1s;
}
.inbox5{
    border: 1px solid rgb(206, 205, 205);
    padding: 40px;
    margin-top: 20px;
    width:100%;
    height: auto;
    text-align: center;
}
.inbox7{
   border: 1px solid rgb(206, 205, 205);
   padding: 15px;
   margin-bottom: 10px;
}
.inbox7:hover{
   border: 1px solid #5fcf80;
    color: #5fcf80;
    transition:0.2s;
}
.head4{
    font-family:Arial, Helvetica, sans-serif;
    font-size:22px;
    font-weight: bold;
    padding-top: 30px;

}
.para{
    color:gray;
    padding-top: 30px;
}
 .abcd{
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: bold;
    font-size: medium;
    padding: 30px;
    margin: 90px 0px;
 }
 .inbox8{ 
    border: 1px solid rgb(206, 205, 205);
    text-align: center;
    padding: 15px;
    margin: 13px 0px;
 }
 .inbox8:hover{
   border: 1px solid #5fcf80;
    color: #5fcf80;
    transition:0.2s;
 }
 .course{
    color: gray;
    font-size: 15px;
 }
.line{
   background-color: #5fcf80;
   height: 1px;
   width: 70px;
   display: inline-block;
   margin-bottom: 5px;
}

 .popcourse{
    font-weight: bold;
 }
 .inbox9{
    margin-top: 30px;
    border:1px solid rgb(206, 205, 205);
  
 }
 .img1{
   width: 100%;
   height: auto;

 }
 .head5{
    font-weight: bold;
    font-size: 20px;
 }
 .head5:hover{
   color: #5fcf80;
   transition: 0.4s;
 }
 .para2{
    color: gray;
 }
 .smallheading{
    background-color: #5fcf80;
    color: #fff;
    font-size: 16px;
    padding: 8px 8px;
 }
 .dollar{
    font-size: large;
    font-weight: bold;
    float: right;
    padding-top:10px;
 }

 .head6{
    color:dimgray;
    font-size: 18px;
    font-weight: bold;
    font-family:sans-serif;
    padding:20px 0px;
 }
 .num{
    position: absolute;
    right: 70px;
    padding-top: 10px;
    float: right;
 }
 .num1{
    position: absolute;
    padding-top: 10px;
    right: 15px;
 }
 .sec5{
    margin-top: 100px;
 }
 .inbox10{
   
    border: 1px solid  rgb(206, 205, 205);
    padding-bottom: 20px;
   
 
 }
 .name{
    font-weight: bold;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    color: rgb(63, 62, 62);
 }
 .post{
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0px;

 }
 .para3{
    text-align: center;
    color:gray;
    padding-top: 20px;

 }
 .sec6{
    background-color:#f3f3f3;
    padding: 30px;
    margin-top:60px;
    height: auto;

 }
 .head7{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;
   
 }
 .contact{
    color: rgb(73, 73, 73);
    font-weight: bold;
 }
 .para4{
    color:gray;
 }
 .inbox11{
    color: gray;

 }
 .list{
    padding: 20px;
 }
.name,.number1,.number2{
   color: rgb(73, 73, 73);
   font-weight: bold;
   font-size: 15px;
}
.number1{
   color: rgb(73, 73, 73);
   font-weight: bold;
   font-size: 15px;
   margin-left: 5px;
   text-align: left;
  
}
.inbox002{
   text-align: right;
   margin-top: -20px;
   
}
.inbox02{
   margin-top: 20px;
}
.img{
   border-radius: 50%;
   height:55px;
   width: 55px;
}
.borderalign{
   padding: 5px 5px;
   
   
}
.inbox12{
   background-color: #5fcf80;
   color: #fff;
   padding: 7px 10px;
   margin-top: 15px;
  
}

.inbox13{
   font-weight: bold;
   font-size: 20px;
   text-align: right;
   padding-top: 20px;
}
.align{
 margin-left: -40px;
 margin-top: 20px;
font-size: 17px;
}
.bottomlink{
   color: gray;
}
.bottomlink:hover{
   text-decoration: none;
   color: #5fcf80;
}
.subcribe{
   background-color: #fff;
   height: 42px;
   width: 90%;
   border-radius: 50px;
   margin-top: 20px;
}
.inbox14{
   background-color: #5fcf80;
   text-align: center;
   color: #fff;
   font-size: 17px;
   padding: 9px 10px;
   border-radius: 50px;
}
.inbox14:hover{
   background-color:#3eb461;
}
.sec7{
   background-color: rgb(226, 226, 226);
}
.mntr{
   color: black;
   font-size: 15px;
   font-weight: bold;
}
.boot{
   color:#3eb461;
}
.boot:hover{
   color:#5fcf80;
}
.inbox15{
   padding: 30px;
   margin-left:60px;
}
.inbox16{
   text-align: right;
   padding-top: 40px;
   margin-right: 60px;
}
.inbox17{
   text-align: center;
   padding-top: 20px;
}
.align{
   text-align: left;
   font-family:'Trebuchet MS';
   color: rgb(78, 78, 78);
}
.icon1{
   font-size: 20px;
   color: #3eb461;
}
.icon2{
   font-size: 18px;
   color: rgb(93, 105, 92);
   margin: 1px;
}
.icon2:hover{
   color: #5fcf80;
}
.icon3{
   font-size: 15px;
   color:#fff;
   background-color: #5fcf80;
   padding: 9px;
   border-radius: 50%;
   margin:3px;
}
.icon4{
   color: #5fcf80;
   padding-right: 5px;
}

.icon5{
   color: #5fcf80;
   background-color: rgb(226, 248, 221);
   border-radius: 50%;
   padding: 17px;
   margin-top: 20px;
   font-size: 25px;

}
.icon6{
   color:gray;
   font-size:20px;
  padding-right: 5px;
}
.icon7{
   color:goldenrod;
   font-size: 23px;
}
.icon8{
   color:cornflowerblue;
   font-size: 23px;
}
.icon9{
   color:maroon;
   font-size: 23px;
}
.icon10{
   color:violet;
   font-size: 23px;
}
.icon11{
   color:skyblue;
   font-size: 23px;
}
.icon12{
   color:sandybrown;
   font-size: 23px;
}
.icon13{
   color:darkcyan;
   font-size: 23px;
}
.icon14{
   color:darkblue;
   font-size: 23px;
}
.icon15{
   color:sienna;
   font-size: 23px;
}
.icon16{
   color:mediumvioletred;
   font-size: 23px;
}
.icon17{
   color:orangered;
   font-size: 23px;
}
.icon18{
   color:green;
   font-size: 23px;
}

.icon01{
   font-size:23px;
   color: #fff;
   padding-left:4px;
}

 /* drop menu */

 .drop-box{
   width: 30px;
   height: 30px;
   background-color: brown;
   float: right;
   display: none;
   margin:20px;
   position: relative;
 }
 .drop-box .drop-menu{
   position: absolute;
   background-color: cadetblue;
   width: 150px;
   /* height: 300px;  */
   z-index: 100;
   top:100%;
   right:0px;
   opacity: 0;
   transition: opacity 1s;
  
 }
 .drop-box:hover .drop-menu {
   opacity:1;
 }
 .drop-menu a{
   display:block;
   margin:10px;
   background-color: aqua;
}

.drop-box1{
   position: relative;
  display: inline-block;
}
.drop-box1 .drop-menu1{
   position: absolute;
   background-color: white;
   z-index: 200;
   width: 180px;
   box-shadow: 0px 0px 3px black;
   text-align: left;
   opacity: 0;
   transition: opacity 0.5s;

}
.drop-box1:hover .drop-menu1{
   opacity:1;
}

.toplink1{
   display: block;
   padding: 8px 15px;
   color: black;
}
.toplink1:hover{
   color: #5fcf80;
   text-decoration: none;
}


.drop-box2{
   position: relative;
   display: inline-block;

}
.drop-menu2{
   position: absolute;
   background-color: white;
   z-index: 200;
   width: 170px;
   box-shadow: 0px 0px 3px black;
   text-align: left;
   left: 170px;
   margin-top:-20px;
   display: none;
}
.drop-box2:hover .drop-menu2{
   display: block;
}
.icon04{
   color: #5fcf80;
   padding-left: 10px;
   
   
}


 @media(max-width:768px){
   .inbox1{
      display: none;
   }
   .drop-box{
      display: block;
   }
 }

 @media(max-width:768px){
   .sec1{
      background-size: auto 100%;
      background-position: center;
  }
}
