
.sec1{
    background-color: #ffffff;
    margin-top:15px;
}
.logo{
    width: 180px;
    height: 60px;
}
.home{
    color:#49b5e7;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    margin-top: 30px;
    padding: 0 10px;
}
.home:hover{
    color:#49b5e7;
    text-decoration: none;
}

.toplink{
    color:rgb(26, 25, 25);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-top: 30px;
    padding: 0 10px;
}
.toplink:hover{
    color:#49b5e7;
    text-decoration: none;
}
.drop-box{
    position: relative;
    display: inline-block;
}
.drop-menu{
    position: absolute;
    width:170px;
    background-color: #fff;
    z-index: 200;
    text-align: left;
    box-shadow: 0px 0px 2px rgb(0, 0, 0);
    display:none;
}
.drop-box:hover .drop-menu{
    display:block;
}
.toplink1{
    display:block;
    color: black;
    padding: 10px 15px;
}
.toplink1:hover{
    color: #49b5e7;
    text-decoration: none;
}
.drop-box1{
    position: relative;
    display: inline-block;
}
.drop-menu1{
    position: absolute;
    width: 170px;
    right: 150px;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0px 0px 1px black;
    display: none;
}
.drop-box1:hover .drop-menu1{
    display: block;
    margin-top:-30px;
}
.getstart{
    background: #3498db;
    padding: 8px 25px;
    margin-left: 30px;
    border-radius: 50px;
    color: #fff;
}
.getstart:hover{
    color: #fff;
    text-decoration: none;
    background-color: #57b3f0;
}
.sec2{
    background-image: url("https://i.imgur.com/iaE5NqN.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 600px;
    position: relative;
}
.opacity{
    position: absolute;
    background:linear-gradient(rgb(114, 23, 124),rgb(55, 116, 216));
    height: 600px;
    width: 100%;
    opacity: 0.6;
    
}
.head1{
    color: #b2d3e3;
    font-size: 55px;
    font-weight: bold;
    padding:40px 0 0;
}
.para2{
    color: #ffffff;
    font-size: 20px; 
}
.inbox1{
    margin-bottom: 50px;
}
.getstarted{
    background-color:#3498db;
    color:#ffffff;
    border-style:solid;
    border-width:2px;
    text-align: center;
    font-family:arial;
    font-size: 17px;
    border-radius: 50px;
    padding: 9px 25px;
    margin-bottom:25px;
    display: inline-block;
    
}
.getstarted:hover{
    background-color:#fff ;
    color:#3498db ;
    text-decoration: none;
    transition: 0.5s;
}
.img{
    width: 100%;
    border-radius: 20px;
}
.sec3{
    background-color: rgb(134, 173, 208);
    padding: 20px 0px 40px 0px;

}
.head{
    font-family:sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #0f394c;
}
.para9{
    text-align: center;
    font-size: 16px;
    padding: 20px;
    margin-bottom: 20px;
}
.img1{
    width: 100%;
 
}

.lastsec{
    background-color: rgb(134, 173, 208);
    padding: 30px;
    margin-top: 30px;
}
.learnsolution{
    font-weight:bold;
}
.inbox2{
    margin-top: 20px;
}
.inbox3{
    padding:0px 0px 0px 250px;
    margin: auto;
}
.sec4{
    padding: 30px;
}
.about{
    color:black;
    font-size:16px;
    margin:20px;
}
.learnmore{
    background-color:#ffffff;
    color:#3498db;
    border-style:solid;
    border-width:2px;
    text-align: center;
    font-family:arial;
    font-size: 17px;
    border-radius: 50px;
    padding: 9px 25px;
    display: inline-block;
    margin-left: 40px;
}
.learnmore:hover{
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}
.sec5{
    background-color: rgb(225, 210, 242);
    margin: 100px 0px;
    padding: 40px;
}
.sec6{
    padding: 40px;
    background-color: rgb(225, 210, 242);
    margin: 80px 0px;
}
.abcd{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(86, 18, 155);
}
.abcd:hover{
    background-color:#a1bee6;
    transform:scale(0.9);
    transition: 0.5s;
}
.inbox9{ 
   text-align:center;
}

.typename,.sub,.mail,.txtarea{
    display: block;
    width: 60%;
    margin: 5px 0px;
    height: 40px;
}



.message{
    background-color:#49b5e7;
    color: #fff;
    border: 0px none;
    font-size: 16px;
    padding: 9px 18px;
    margin-top: 10px;
    border-radius: 50px;
}
.message:hover{
    transition: 0.3;
    background-color:#2a9ace;
}
.sec7{
    margin: 40px 0px;
}
.courses{
    margin: 20px 0px;
}
.inbox1{
    margin: 20px 0px;
    
}

.img{
    border-radius: 5px;
    transition: 0.5s;
    position: relative;
}
.img:hover{
    transform: translateY(-10px);
    background-color: #ca2828;
    opacity: 0.6;
}
.names{
    position: absolute;
    z-index: 1;
    top: 30px;
    left:97px;
    font-family: arial;
    font-size: 17px;
    background-color: #fff;
    padding: 10px;
}
.sec8{
    background-image: url("abcd.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 480px;
    
}

.inbox10{
    background-color: transparent;
    text-align: center;
    margin:100px 0px 0px 0px;
    position: relative;
}
.opacity1{
    position: absolute;
    background-color: rgba(25, 38, 117, 0.8);
    height: 480px;
    width: 100%;
    opacity: 0.9;
}
.getstart1{
    font-size: 20px;
    padding: 8px 25px;
    margin-top: 100px;
    border-radius: 50px;
    border: 1px solid #fff;
    color: #fff;
}
.getstart1:hover{
    color: #fff;
    text-decoration: none;
    background-color: #4e85ab;
}
.icon4{
    background-color: rgb(179, 208, 234);
    padding: 10px;
    border-radius: 50%;
    font-size: 25px;
}
.icon4:hover{
    background-color: #3498db;
    color: #fff;
}
